extends layout

block content
  h1= title
  p Bienvenido a mi servidor con #{title}. Continúa a la página de "productos" para ver los recursos:
  button(onclick="window.location.href='/products'") Ir a productos

