extends layout

block content
  h1 Crear Producto

  form(action="/", method="POST")
    label(for="nombre") Nombre:
    input(type="text", name="nombre", required)
    br

    label(for="serial") Serial:
    input(type="text", name="serial", required)
    br

    label(for="precio") Precio:
    input(type="number", name="precio", required)
    br

    button(type="submit") Guardar Producto
    a(href="/") Volver al Listado
