extends layout

block content
  h1 Lista de Productos
  if products.length
    ul
      each product in products
        li
          | Serial: #{product.serial}
          br
          | #{product.nombre}
          br
          | Precio: #{product.precio}$
          form(action=`/delete/${product._id}`, method='POST')
            button(type='submit' class='btn_submit') X
  else
    p No hay productos

  a(href="/create") Crear Producto

