extends layout

block content
  a(href="/users") Volver a usuarios

  h1 #{title}
  
  form(action=`/users/${user._id}/edit` method="POST")
    div.form-group
      label(for="name") Nombre:
      input#name(type="text" name="name" value=user.name)

    div.form-group
      label(for="email") Email:
      input#email(type="email" name="email" value=user.email)
    
    button(type="submit") Guardar cambios
