extends layout

block content
  h1 Semana 8 - Servidor con Express.js
  p Hacer un servidor en Express que LISTE y CREE productos con Mongoose y crear el pull request.
  a(href="/products") Productos
